#titlebar_right
  .action_items
    %span.action_items
      %a.btn{ class: 'btn btn-primary', id: 'select-columns', data: { toggle: 'modal', target: '#select-columns-modal' } }
        Select columns