%table.table.table-striped.table-hover{cellspacing: "0", width: "100%"}
  %thead
    %tr
      %th.col-md-1 ID
      %th.col-md-1 Title
      %th.col-md-1 Was used in Fabric Info IDs
  %tbody
    - @deleted_fabric_brands.each do |fabric_brand|
      %tr
        %td= link_to fabric_brand.id, fabric_brand_path(fabric_brand)
        %td= fabric_brand.title
        %td= FabricBookDecorator.decorate(fabric_brand).fabric_infos_id_links

    = paginate @deleted_fabric_brands
