.alt-summary-show-pdf {
  .urgent-summary {
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  .requested-completion {
    font-size: 22px;
    font-weight: bold;
  }
  .comment-field {
    font-size: 18px;
    font-weight: bold;
  }
  .alter-field {
    font-size: 18px;
    font-weight: bold;
  }
}
